In [1]:
import numpy as np 
import pandas as pd

# Data loading process

In [2]:
df = pd.DataFrame({'X':[i for i in range(1,11)], 'y':[i for i in range(1,11)]})

In [3]:
df

    X   y
0   1   1
1   2   2
2   3   3
3   4   4
4   5   5
5   6   6
6   7   7
7   8   8
8   9   9
9  10  10

# Differentiate dependent or independet features

In [13]:
X = df.iloc[:,:1]
y = df.iloc[:,1]

print(type(X))
print(type(y))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

# Modeling

In [18]:


from sklearn.linear_model import LinearRegression

regressor = LinearRegression()

model = regressor.fit(X, y)

print(model.coef_)
print(model.intercept_)

[1.]
2.6645352591003757e-15

# Evalution

In [25]:
ypred = model.predict(X)

from sklearn.metrics import mean_squared_error, r2_score

MSE = mean_squared_error(y, ypred)
RMSE = np.sqrt(MSE)
R_Squared = r2_score(y , ypred)

print('Root Mean Squared Error : ' , RMSE)
print('R Squared : ', R_Squared)

Root Mean Squared Error :  1.9710758377630942e-15
R Squared :  1.0

# load or save model on my machine

In [33]:
import pickle

with open('Linear Regression', 'wb') as file:
    pickle.dump(model, file)